.selector {
    position: absolute;
    width: 221px;
    height: 65px;
    left: 1064px;
    top: 363px;
}
.nonselector-1 {
    position: absolute;
    width: 221px;
    height: 65px;
    left: 560px;
    top: 363px;
}
.nonselector-2 {
    position: absolute;
    width: 221px;
    height: 65px;
    left: 270px;
    top: 363px;
}
.nonselector-3 {
    position: absolute;
    width: 221px;
    height: 65px;
    left: 819px;
    top: 363px;
}
.nonselector-4 {
    position: absolute;
    width: 221px;
    height: 65px;
    left: 1311px;
    top: 363px;
}

.container ul{
    width: 1360px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
}

body h3{
    margin-bottom: 0px;
}