.abz-01 {
    display: flex;
    width: 1400px;
}
.abz-01 img {
    width: 618px;
    height: 500px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 36px;
    margin-left: 56px;
    border-radius: 50px;
}
.abz-01 p {
    margin-top: 0px;
    margin-left: 250px;
}

.img-end {
    width: 1060px;
    height: 556px;
    border-radius: 100px;
}

#end {
    height: 190px;
    margin-bottom: 0px;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}

.selector {
    position: absolute;
    width: 221px;
    height: 65px;
    left: 260px;
    top: 363px;
}
.nonselector-1 {
    position: absolute;
    width: 221px;
    height: 65px;
    left: 550px;
    top: 363px;
}
.nonselector-2 {
    position: absolute;
    width: 221px;
    height: 65px;
    left: 819px;
    top: 363px;
}
.nonselector-3 {
    position: absolute;
    width: 221px;
    height: 65px;
    left: 1064px;
    top: 363px;
}
.nonselector-4 {
    position: absolute;
    width: 221px;
    height: 65px;
    left: 1311px;
    top: 363px;
}